<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>获取admin</title>
<script src="http://cdn.static.runoob.com/libs/angular.js/1.4.6/angular.min.js"></script>
<script type="text/javascript">
//angularjs
var app = angular.module('myApp', []);

app.controller('myCtrl', function($scope, $http) {	
	$scope.confirm = function() {
		if(typeof($scope.cmdcAdminId)=="undefined"){
			alert("请输入用户id");
		}			
		$http({
			method : 'GET',
			url : '/backend/webapi/admins/'+$scope.cmdcAdminId,						
			headers: { 'Content-Type': 'application/x-www-form-urlencoded' }			
		}).then(function successCallback(response) {
			alert( response.data);		
			alert("suc");
		}, function errorCallback(response) {
			// 请求失败执行代码
			//alert(response.status);	
			alert(response.data);
			alert("err");
		});
	}
});
</script>
</head>
<body>
<div ng-app="myApp" ng-controller="myCtrl">
  <input type="text" id="cmdcAdminId" name="cmdcAdminId" ng-model="cmdcAdminId" placeholder="用户id">
			
<button ng-click="confirm()">查询</button>
</div>
</body>
</html>