<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>新建资讯</title>
<!--引入wangEditor.css-->
<link rel="stylesheet" type="text/css" href="../css/wangEditor.min.css"></link>
<script type="text/javascript" src="../js/lib/jquery-2.2.1.js"></script>
<script	src="http://cdn.static.runoob.com/libs/angular.js/1.4.6/angular.min.js"></script>
<script type="text/javascript" src="../js/xss.js"></script>

</head>
<body>
<div ng-app="myApp" ng-controller="myCtrl">
标题<input type="text" id="informationTitle" ng-model="formData.informationTitle"></input><br><br>
	概要<input type="text" id="informationSummary" ng-model="formData.informationSummary"></input><br><br>
	内容<textarea id="informationContent" ng-model="formData.informationContent">  
</textarea><br><br>
显示状态<input type="text" id="displayStatus" ng-model="formData.displayStatus"></input><br><br>
<button ng-click="confirm()">登 录</button>
</div>

<button id="btn1">获取内容</button>
<script type="text/javascript" src="../js/wangEditor.min.js"></script>
<script type="text/javascript">
var editor = new wangEditor('informationContent');
// 上传图片（举例）
editor.config.uploadImgUrl = '/backend/webapi/upload';
editor.config.uploadImgFileName = 'myFileName';
 
editor.onchange = function () {
    console.log(this.$txt.html());
};
editor.config.hideLinkImg = true;
editor.create();


//angularjs
var app = angular.module('myApp', []);

app.controller('myCtrl', function($scope, $http) {
	$scope.formData={};
	$scope.confirm = function() {
		if(typeof($scope.formData.informationTitle)=="undefined"){
			alert("请输入标题");
		}
		else if(typeof($scope.formData.informationSummary)=="undefined"){
			alert("请输入摘要");
		}
		else if(typeof($scope.formData.informationContent)=="undefined"){
			alert("请输入内容");
		} 
	
		$http({
			method : 'POST',
			url : '/backend/webapi/informations/new_info',
			data:$scope.formData,				
			headers: { 'Content-Type': 'application/x-www-form-urlencoded' },
			transformRequest: function(obj) {    
                var str = [];    
                for (var p in obj) {    
                    str.push(encodeURIComponent(p) + "=" + encodeURIComponent(obj[p]));    
                }    
                return str.join("&");    
            }  
		}).then(function successCallback(response) {
			alert( response.data.resultCode);
			alert( response.data.resultMsg);		
			
			
		}, function errorCallback(response) {
			// 请求失败执行代码
			//alert(response.status);	
			alert(response.data.resultMsg);
		});
	}
</script>
</body>
</html>